[submodule "posterior"]
	path = posterior
	url = https://github.com/tomlouden/posterior
[submodule "corner/posterior"]
	path = corner/posterior
	url = git@github.com:tomlouden/posterior
[submodule "corner/--force"]
	path = corner/--force
	url = git@github.com:tomlouden/posterior
